<div class="calendar-section">
    <!-- xxxx年xx月を表示 -->
    <h1 id="header"></h1>

    <!-- ボタンクリックで月移動 -->
    <div id="next-prev-button">
        <button id="prev" type="button" onclick="prev()">前の月</button>
        <button id="next" type="button" onclick="next()">次の月</button>
    </div>

    <!-- カレンダー -->
    <div id="calendar"></div>
</div>