<div class="main-header">
  <div class="user-nickname">
    <a href="#">ユーザーニックネーム</a>
  </div>
  <div class="logout">
   <a href="#">ログアウト</a>
  </div>
</div>

<div class="main">
</div>

<div class="main-footer">
  <input class="form-message" placeholder= "type a monthly goal">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  <input class="form-submit" type="submit" value="送信">
</div>