<div class="main-header">
  <div class="user-nickname">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
  <div class="logout">
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
  </div>
</div>

<div class="main">
</div>

<div class="main-footer">
  <input class="form-message" placeholder= "type a monthly goal">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  <input class="form-submit" type="submit" value="送信">
</div>