<div class="side-bar-header">
  <div class="set-goal">
    <%= link_to "目標を設定する",  new_goal_path, class: 'btn'%>
  </div>
</div>

<div class="goals">
  <% current_user.goals. each do |goal| %>
    <div class="goal">
      <div class="goal-title">
        <%= link_to goal.title, goal_path(goal.id), method: :get %>
      </div>
      <div class="deadline">
        <a href="#"><%= goal.deadline %></a>
      </div>
    </div>
  <% end %>
</div>