<div class="side-bar-header">
  <div class="set-goal">
    <a href="#">目標を設定する</a>
  </div>
</div>

<div class="goals">
  <div class="goal">
    <div class="goal-title">
      <a href="#">TOEIC満点</a>
    </div>
    <div class="deadline">
     <a href="#">2021年5月</a>
    </div>
  </div>
  <div class="goal">
    <div class="goal-title">
      <a href="#">仏検3級</a>
    </div>
    <div class="deadline">
     <a href="#">2021年9月</a>
    </div>
  </div>
</div>