<div id="container">
  <input type="text" placeholder="ToDoを入力してください" id="text-input">
  <ul id="todo-list">
    <li class="list-item">
      <span class="todo-text">プログラミングの勉強をする</span>
      <button type="button" class="delete-button">削除</button>
    </li>
    <li class="list-item">
      <span class="todo-text">プログラミングの勉強をする</span>
      <button type="button" class="delete-button">削除</button>
    </li>
    <li class="list-item">
      <span class="todo-text">プログラミングの勉強をする</span>
      <button type="button" class="delete-button">削除</button>
    </li>
  </ul>
</div>